<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.example.db.master.mapper.DbInfoMapper">
    <resultMap type="com.game.example.db.master.domain.DbInfo" id="DbInfoResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="writeHost"    column="writeHost"    />
        <result property="writePort"    column="writePort"    />
        <result property="readHost"    column="readHost"    />
        <result property="readPort"    column="readPort"    />
        <result property="gameDBName"    column="gameDBName"    />
        <result property="writeUserName"    column="writeUserName"    />
        <result property="writeUserPwd"    column="writeUserPwd"    />
        <result property="readUserName"    column="readUserName"    />
        <result property="readUserPwd"    column="readUserPwd"    />
        <result property="createTime"    column="createTime"    />
        <result property="updateTime"    column="updateTime"    />
    </resultMap>

    <sql id="selectDbInfoVo">
        select id, type, writeHost, writePort, readHost, readPort, gameDBName, writeUserName, writeUserPwd, readUserName, readUserPwd, createTime, updateTime from db_info
    </sql>

    <select id="selectDbInfoList" parameterType="com.game.example.db.master.domain.DbInfo" resultMap="DbInfoResult">
        <include refid="selectDbInfoVo"/>
        <where>
            <if test="type != null "> and type = #{type}</if>
            <if test="writeHost != null  and writeHost != ''"> and writeHost = #{writeHost}</if>
            <if test="writePort != null "> and writePort = #{writePort}</if>
            <if test="readHost != null  and readHost != ''"> and readHost = #{readHost}</if>
            <if test="readPort != null "> and readPort = #{readPort}</if>
            <if test="gameDBName != null  and gameDBName != ''"> and gameDBName like concat('%', #{gameDBName}, '%')</if>
            <if test="writeUserName != null  and writeUserName != ''"> and writeUserName like concat('%', #{writeUserName}, '%')</if>
            <if test="writeUserPwd != null  and writeUserPwd != ''"> and writeUserPwd = #{writeUserPwd}</if>
            <if test="readUserName != null  and readUserName != ''"> and readUserName like concat('%', #{readUserName}, '%')</if>
            <if test="readUserPwd != null  and readUserPwd != ''"> and readUserPwd = #{readUserPwd}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
        </where>
    </select>

    <select id="selectDbInfoById" parameterType="Long" resultMap="DbInfoResult">
        <include refid="selectDbInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertDbInfo" parameterType="com.game.example.db.master.domain.DbInfo" useGeneratedKeys="true" keyProperty="id">
        insert into db_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="writeHost != null and writeHost != ''">writeHost,</if>
            <if test="writePort != null">writePort,</if>
            <if test="readHost != null">readHost,</if>
            <if test="readPort != null">readPort,</if>
            <if test="gameDBName != null and gameDBName != ''">gameDBName,</if>
            <if test="writeUserName != null and writeUserName != ''">writeUserName,</if>
            <if test="writeUserPwd != null and writeUserPwd != ''">writeUserPwd,</if>
            <if test="readUserName != null and readUserName != ''">readUserName,</if>
            <if test="readUserPwd != null and readUserPwd != ''">readUserPwd,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="writeHost != null and writeHost != ''">#{writeHost},</if>
            <if test="writePort != null">#{writePort},</if>
            <if test="readHost != null">#{readHost},</if>
            <if test="readPort != null">#{readPort},</if>
            <if test="gameDBName != null and gameDBName != ''">#{gameDBName},</if>
            <if test="writeUserName != null and writeUserName != ''">#{writeUserName},</if>
            <if test="writeUserPwd != null and writeUserPwd != ''">#{writeUserPwd},</if>
            <if test="readUserName != null and readUserName != ''">#{readUserName},</if>
            <if test="readUserPwd != null and readUserPwd != ''">#{readUserPwd},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDbInfo" parameterType="com.game.example.db.master.domain.DbInfo">
        update db_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="writeHost != null and writeHost != ''">writeHost = #{writeHost},</if>
            <if test="writePort != null">writePort = #{writePort},</if>
            <if test="readHost != null">readHost = #{readHost},</if>
            <if test="readPort != null">readPort = #{readPort},</if>
            <if test="gameDBName != null and gameDBName != ''">gameDBName = #{gameDBName},</if>
            <if test="writeUserName != null and writeUserName != ''">writeUserName = #{writeUserName},</if>
            <if test="writeUserPwd != null and writeUserPwd != ''">writeUserPwd = #{writeUserPwd},</if>
            <if test="readUserName != null and readUserName != ''">readUserName = #{readUserName},</if>
            <if test="readUserPwd != null and readUserPwd != ''">readUserPwd = #{readUserPwd},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbInfoById" parameterType="Long">
        delete from db_info where id = #{id}
    </delete>

    <delete id="deleteDbInfoByIds" parameterType="String">
        delete from db_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>