<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.example.db.master.mapper.ServerInfoMapper">

    <resultMap type="com.game.example.db.master.domain.ServerInfo" id="ServerInfoResult">
        <result property="serverID"    column="serverID"    />
        <result property="serverType"    column="serverType"    />
        <result property="lanIp"    column="lanIp"    />
        <result property="serverTcpPort"    column="serverTcpPort"    />
        <result property="serverHttpPort"    column="serverHttpPort"    />
        <result property="createTime"    column="createTime"    />
        <result property="updateTime"    column="updateTime"    />
    </resultMap>

    <sql id="selectServerInfoVo">
        select serverID, serverType, lanIp, serverTcpPort, serverHttpPort, createTime, updateTime from server_info
    </sql>

    <select id="selectServerInfoList" parameterType="com.game.example.db.master.domain.ServerInfo" resultMap="ServerInfoResult">
        <include refid="selectServerInfoVo"/>
        <where>
            <if test="serverType != null "> and serverType = #{serverType}</if>
            <if test="lanIp != null "> and lanIp = #{lanIp}</if>
            <if test="serverTcpPort != null  and serverTcpPort != ''"> and serverTcpPort = #{serverTcpPort}</if>
            <if test="serverHttpPort != null "> and serverHttpPort = #{serverHttpPort}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
        </where>
    </select>

    <select id="selectServerInfoByServerID" parameterType="Long" resultMap="ServerInfoResult">
        <include refid="selectServerInfoVo"/>
        where serverID = #{serverID}
    </select>

    <insert id="insertServerInfo" parameterType="com.game.example.db.master.domain.ServerInfo" useGeneratedKeys="true" keyProperty="serverID">
        insert into server_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serverType != null">serverType,</if>
            <if test="lanIp != null">lanIp,</if>
            <if test="serverTcpPort != null and serverTcpPort != ''">serverTcpPort,</if>
            <if test="serverHttpPort != null">serverHttpPort,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serverType != null">#{serverType},</if>
            <if test="lanIp != null">#{lanIp},</if>
            <if test="serverTcpPort != null and serverTcpPort != ''">#{serverTcpPort},</if>
            <if test="serverHttpPort != null">#{serverHttpPort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateServerInfo" parameterType="com.game.example.db.master.domain.ServerInfo">
        update server_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverType != null">serverType = #{serverType},</if>
            <if test="lanIp != null">lanIp = #{lanIp},</if>
            <if test="serverTcpPort != null and serverTcpPort != ''">serverTcpPort = #{serverTcpPort},</if>
            <if test="serverHttpPort != null">serverHttpPort = #{serverHttpPort},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </trim>
        where serverID = #{serverID}
    </update>

    <delete id="deleteServerInfoByServerID" parameterType="Long">
        delete from server_info where serverID = #{serverID}
    </delete>

    <delete id="deleteServerInfoByServerIDs" parameterType="String">
        delete from server_info where serverID in
        <foreach item="serverID" collection="array" open="(" separator="," close=")">
            #{serverID}
        </foreach>
    </delete>

</mapper>